DATABASE_URL=
PORT=
API_PREFIX=
NODE_ENV=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=
ALLOWED_ORIGINS=
RESEND_API_KEY=
RESEND_RECEIVER=
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_HOST=
REDIS_PORT=
