{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "target": "es2020",
    "parser": { "syntax": "typescript" },
    "baseUrl": ".",
    "paths": { "@/*": ["app/*"] }
  },
  "module": { "type": "commonjs" }
}
